@import url('https://cdn.syncfusion.com/ej2/material.css');

.e-input-group input.e-input, .e-input-group.e-control-wrapper input.e-input {
    height: 30px;
    width: 100%;
    color: black;
    text-align: center;
    background: white;
    border-radius: 10px;
}

.e-daterangepicker.e-popup .e-range-header .e-start-label, .e-daterangepicker.e-popup .e-range-header .e-end-label {
    font-size: 30px;
}